{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <title>POINTY</title>
    <link href="{% static 'css/images/App_pointage2.png' %}" rel="icon">
    <style>
        body {
            background-color: white;
        }
        html, body {
            height: 100%; /* Assure que le body occupe toute la hauteur */
            margin: 0;
            overflow: hidden; /* Empêche le défilement global */
        }
    </style>
</head>
<body>
  <div class="menu">
    <ul>
     <li class="profile"> 
       <div >
         <img id='ico'  src="{% static 'css/images/App_pointage1.png' %}" width="200px" ></a>
               </div>
      </li>
      <li>
       <a href="{% url 'HelloPointeur' %}" >
         <i class="fas fa-home"></i>
         <p>Dashbord</p>
       </a>
      </li>
      <li>
       <a href="#" class="active">
         <i class="fas fa-users"></i>
         <p>Employés</p>
       </a>
      </li>
      <li>
       <a href="{% url 'Pointage_Dep' %}">
         <i class="fas fa-calendar-day"></i>
         <p>Pointages</p>
       </a>
      </li>
      <li>
       <a href="{% url 'Conges_Dep' %}">
         <i class="fas fa-calendar-check"></i>
         <p>Congés</p>
       </a>
      </li>
      <li>
       <a href="{% url 'CVS_Dep' %}">
         <i class="fas fa-address-card"></i>
         <p>Curriculum vitae</p>
       </a>
      </li>
      <li>
       <a href="{% url 'modifier_mot_de_passe_po' %}">
         <i class="fas fa-user"></i>
         <p>Espace Personnelle</p>
       </a>
      </li>
      <li class="log-out">
       <a href="{% url 'deconnexion' %}">
         <i class="fas fa-sign-out"></i>
         <p> Se déconnecter</p>
       </a>
      </li>

    </ul>
   </div>
   <div class="table-wrapper">
    <a href="{% url 'AjoutEmploye' %}" class="ajout-link">
      <button class="ajout">
       <img src="{% static 'css/images/icon_ajout.png' %}" alt="Icon" class="button-icon">
       Ajouter Employé</button></a>
       <div class="controls">
        <!-- Formulaire pour sélectionner le nombre d'éléments à afficher -->
        <form method="GET" action="{% url 'Employes' %}" class="select-number-form">
            <label for="number">Afficher:</label>
            <select id="number" name="number" onchange="this.form.submit()">
                <option value="20" {% if request.GET.number == '20' %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.number == '50' %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.number == '100' %}selected{% endif %}>100</option>
            </select>
        </form>
    
        <!-- Formulaire de recherche -->
        <form method="GET" action="{% url 'Employes' %}" class="search-form">
            <input type="text" name="search" placeholder="Chercher par nom, prénom" value="{{ request.GET.search }}">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <table class="table">
    <thead>
      <tr>
        <th>Nom_Prénom</th>
        <th>Département</th>
        <th>Téléphone</th>
        <th id="em1">Email</th>
        <th>Date d'embauche</th>
      </tr>
    </thead>
    <tbody>
      {% for employe in employees %}
      <tr>
        <td>{{ employe.nom }} {{ employe.prenom }}</td>
        <td>{{ employe.departement.nom }}</td>
        <td>{{ employe.telephone }}</td>
        <td class="em">{{ employe.email }}</td>
        <td>{{ employe.date_d_embauche }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Aucun employé trouvé.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
