{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <title>Pointage</title>
    <link href="{% static 'css/images/App_pointage2.png' %}" rel="icon">
    <style>
        body {
            background-color: white;
        }
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
        
        .btn-download {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 1px;
            cursor: pointer;
        }
        
        .fichier {
            color: black;
        }
        
        .ajout-link {
            margin: 20px;
        }
        .controls {
            margin-top: 0px;
        }
        input {
            width: 180px;
        }
    </style>
</head>
<body>
    <div class="menu">
        <ul>
         <li class="profile"> 
           <div >
             <img id='ico'  src="{% static 'css/images/App_pointage1.png' %}" width="200px" ></a>
                   </div>
          </li>
          <li>
           <a href="{% url 'HelloPointeur' %}" >
             <i class="fas fa-home"></i>
             <p>Dashbord</p>
           </a>
          </li>
          <li>
           <a href="{% url 'Employes' %}">
             <i class="fas fa-users"></i>
             <p>Employés</p>
           </a>
          </li>
          <li>
           <a href="#" class="active">
             <i class="fas fa-calendar-day"></i>
             <p>Pointages</p>
           </a>
          </li>
          <li>
           <a href="{% url 'Conges_Dep' %}">
             <i class="fas fa-calendar-check"></i>
             <p>Congés</p>
           </a>
          </li>
          <li>
           <a href="{% url 'CVS_Dep' %}">
             <i class="fas fa-address-card"></i>
             <p>Curriculum vitae</p>
           </a>
          </li>
          <li>
           <a href="{% url 'modifier_mot_de_passe_po' %}">
             <i class="fas fa-user"></i>
             <p>Espace Personnelle</p>
           </a>
          </li>
          <li class="log-out">
           <a href="{% url 'deconnexion' %}">
             <i class="fas fa-sign-out"></i>
             <p> Se déconnecter</p>
           </a>
          </li>
   
        </ul>
       </div>

    <div class="table-wrapper">
        {% if display_button %}
            <a href="{% url 'AjoutPointage' %}" class="ajout-link">
                <button class="ajout">
                    <img src="{% static 'css/images/icone_pointage.png' %}" alt="Icon" class="button-icon">
                    Pointage d'Aujourd'hui
                </button>
            </a>
        {% endif %}
        <div class="controls">
            <!-- Formulaire pour sélectionner le nombre d'éléments à afficher -->
            <form method="GET" action="{% url 'Pointage_Dep' %}" class="select-number-form">
                <label for="number">Afficher:</label>
                <select id="number" name="number" onchange="this.form.submit()">
                    <option value="20" {% if number == '20' %}selected{% endif %}>20</option>
                    <option value="50" {% if number == '50' %}selected{% endif %}>50</option>
                    <option value="100" {% if number == '100' %}selected{% endif %}>100</option>
                </select>
            </form>
        
            <!-- Formulaire de recherche par date -->
            <form method="GET" action="{% url 'Pointage_Dep' %}" class="search-form">
                <input type="date" name="search_date" value="{{ search_query }}">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>PDF</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pointage in pointages %}
                <tr>
                    <td>{{ pointage.jour }}</td>
                    <td>
                        {% if pointage.P_PDF %}
                            <a href="{{ pointage.P_PDF.url }}" target="_blank" class="fichier">
                                Voir le PDF
                            </a>
                        {% else %}
                            Aucun document
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ pointage.P_PDF.url }}" class="btn-download" download>Télécharger</a>
                    </td>
                </tr>
                
                {% empty %}
                <tr>
                    <td colspan="3">Aucun pointage trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
